

<div class="container">
    <div class="logo">
        <img src="images/logo.png">
    </div>
    <form class="form-signin">
        <label for="inputEmail" class="">البريد الإلكتروني</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="البريد الإلكتروني" required autofocus>
        <button class="forget-pass btn btn-lg btn-primary btn-block" type="submit">ارسال كلمة المرور</button>
    </form>



</div> <!-- /container -->

<div class="footer-bg"><img src="images/footer.png"></div>
