
<div class="container">
    <div class="logo" style="margin-top:20px;">
        <img src="images/logo.png">
    </div>
    <form class="form-signin form-registration registerform">

        <label for="inputname" class=""> الأسم</label>
          <input name="name" type="text" id="inp" class="form-control" placeholder=" الأسم" required autofocus>

        <label for="inputEmail" class="">البريد الإلكتروني</label>
          <input name="email" type="email" id="inputEmail" class="form-control" placeholder="البريد الإلكتروني" required >

        <label for="inputEmail" class=""> البلد</label>
          <select name="country_id" class="countries"></select>

        <label for="inputPassword" class="">كلمة السر </label>
          <input name="password" type="password" id="inputPassword" class="form-control" placeholder="كلمة  السر" required>

        <label for="inputPassword" class="">تأكيد كلمة السر </label>
          <input name="repassword" type="password" id="" class="form-control" placeholder=" تأكيدكلمة السر" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">تسجيل</button>
    </form>



</div> <!-- /container -->

<div class="footer-bg"><img src="images/footer.png"></div>
