<div class="container">
    <!--<div class="logo welcome-screen">-->
        <img src="images/logo.png" style="position: fixed; top: 20px; left: auto; right: auto; width: 90%;">
    <!--</div>-->

    <div class="welcome-screen-link"
         style="position: fixed; top: calc(50% - 22px); left: auto; right: auto; width: 100%;"
            >www.safavisa.com
    </div>

  <div class="footer-bg" style="position: fixed; bottom: 0; left: 0; right: 0; width: 100%;">
      <div style="text-align: center">Powered by <a href="http://brightery.com">Brightery</a> Inc</div>
      <img src="images/footer.png">
  </div>

</div> <!-- /container -->
